@import './styles/fonts.css';
@import './styles/colors.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 전역 스타일 설정 (Pretendard를 기본으로) */
body {
  font-family: 'Pretendard', sans-serif;
  font-weight: 500; /* 기본 Medium으로 고정 */
  margin: 0;
  /*background-color: var(--color-main);*/
  color: var(--color-text-white);
}

